<div class="content">
  <img src="../../../assets/svg/logo/navbar-logo.svg" alt="navbar-logo" class="logo" (click)="navigateTo('/')" />
  <div class="divider"></div>
  <div class="projects" (click)="navigateTo('/projects')">
    <img src="../../../assets/svg/icons/folder-open-solid.svg" alt="folder-open-solid" class="folder-icon" />
    <span class="folder-text">Projects</span>
  </div>
  <div class="downloads" (click)="navigateTo('/downloads')">
    <img src="../../../assets/svg/icons/download-solid.svg" alt="download-solid" class="download-icon" />
    <span class="download-text">Downloads</span>
  </div>
  <!-- <div class="blog" (click)="navigateTo('/blog')">
    <img src="../../../assets/svg/icons/comments-solid.svg" alt="comments-solid" class="blog-solid" />
    <span class="blog-text">Blog</span>
  </div> -->
</div>
