<div class="content">
	<img
		src="../../../assets/svg/logo/navbar-logo.svg"
		alt="navbar-logo"
		class="logo"
		(click)="navigateTo('/')"
	/>
	<div class="divider"></div>
	<div class="projects" (click)="navigateTo('/projects')">
		<img
			src="../../../assets/svg/icons/folder-open-solid.svg"
			alt="folder-open-solid"
			class="folder-icon"
		/>
		<span class="folder-text">Projects</span>
	</div>
	<div class="downloads" (click)="navigateTo('/downloads')">
		<img
			src="../../../assets/svg/icons/download-solid.svg"
			alt="download-solid"
			class="download-icon"
		/>
		<span class="download-text">Downloads</span>
	</div>
	<div class="blog" (click)="navigateTo('/blog')">
		<img
			src="../../../assets/svg/icons/newspaper-solid.svg"
			alt="blog-solid"
			class="blog-icon"
		/>
		<span class="blog-text">Blog</span>
	</div>
</div>
<div class="small-screen-nav">
	<nav>
		<ul>
			<li (click)="navigateTo('/')">
				<i class="fa-solid fa-house"></i>
				<p>Home</p>
			</li>
			<li (click)="navigateTo('/projects')">
				<i class="fa-solid fa-folder-open"></i>
				<p>Projects</p>
			</li>
			<li (click)="navigateTo('/downloads')">
				<i class="fa-solid fa-download"></i>
				<p>Downloads</p>
			</li>
			<li (click)="navigateTo('/blog')">
				<i class="fa-solid fa-newspaper"></i>
				<p>Blog</p>
			</li>
		</ul>
	</nav>
</div>
