.content {
	width: 120px;
	min-height: 100vh;
	height: 100%;
	border-right: 1px solid white;
	.logo {
		width: 60%;
		margin: 0 auto;
		margin-bottom: 10px;
		padding-top: 10px;
		display: block;
		cursor: pointer;
	}
	.divider {
		background-color: white;
		height: 1px;
		width: 80%;
		margin: 10px auto;
	}
	.folder-icon,
	.download-icon,
	.blog-icon {
		width: 40px;
		margin: 0 auto;
	}
	.folder-text,
	.download-text,
	.blog-text {
		text-align: center;
	}
	.projects,
	.downloads,
	.blog {
		width: 100%;
		margin: 10px auto;
		margin-top: 25px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		cursor: pointer;
	}
}

.small-screen-nav {
	display: none;
}
nav {
	position: fixed;
	bottom: 0;
	left: 0;
	margin-top: -5px;
	width: 100%;
	z-index: 9;
}

nav ul {
	background-color: #fff;
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 60px;
}

nav li {
	color: #777;
	cursor: pointer;
	flex: 1;
	padding: 10px;
	text-align: center;
}

nav ul li p {
	font-size: 12px;
	margin: 2px 0;
}

nav ul li:hover,
nav ul li.active {
	color: var(--color-accent-dark);
	font-weight: 900;
}
@media (max-width: 650px) {
	.content {
		display: none;
	}
	.small-screen-nav {
		display: block;
	}
}
