<div class="navbar">
	<div class="logo" routerLink="/" *ngIf="type === 'desktop'; else mobileLogo">
		<img src="assets/svg/logo/whiteLogoBlack.svg" alt="logo" class="white" />
		<img src="assets/svg/logo/blackLogoWhite.svg" alt="logo" class="black" />
	</div>
	<ng-template #mobileLogo>
		<div class="logo" routerLink="/">
			<img
				src="assets/svg/logo/whiteLogoBlack.svg"
				alt="logo"
				class="white-mobile"
			/>
		</div>
	</ng-template>
	<div class="nav-links" *ngIf="type === 'desktop'; else mobileMenu">
		<p class="nav-link" routerLink="/menu">Menu</p>
	</div>
	<ng-template #mobileMenu>
		<button routerLink="/menu">Menu</button>
	</ng-template>
</div>
