.bars {
  margin: 20px 0;
  display: flex;
}
.bars .bar-bg {
  height: 60px;
  width: 10px;
  background-color: var(--color-neutral);
  display: flex;
  margin: 0 1px;
  border-radius: 9999px;
  position: relative;
}
.bars .bar-bg > div {
  position: absolute;
  height: 0;
  width: 100%;
  background-color: var(--color-primary);
  border-radius: 9999px;
  bottom: 0;
}
.bars .bar-bg .b1 {
  animation: bar1-animation 1.5s linear 0s infinite;
  -webkit-animation: bar1-animation 1.5s linear 0s infinite; // Safari, Chrome, Opera
  -moz-animation: bar1-animation 1.5s linear 0s infinite; // Firefox
  -ms-animation: bar1-animation 1.5s linear 0s infinite; // Internet Explorer
  -o-animation: bar1-animation 1.5s linear 0s infinite; // Opera
}
.bars .bar-bg .b2 {
  animation: bar2-animation 1.5s linear 0s infinite;
  -webkit-animation: bar2-animation 1.5s linear 0s infinite; // Safari, Chrome, Opera
  -moz-animation: bar2-animation 1.5s linear 0s infinite; // Firefox
  -ms-animation: bar2-animation 1.5s linear 0s infinite; // Internet Explorer
  -o-animation: bar2-animation 1.5s linear 0s infinite; // Opera
}
.bars .bar-bg .b3 {
  animation: bar3-animation 1.5s linear 0s infinite;
  -webkit-animation: bar3-animation 1.5s linear 0s infinite; // Safari, Chrome, Opera
  -moz-animation: bar3-animation 1.5s linear 0s infinite; // Firefox
  -ms-animation: bar3-animation 1.5s linear 0s infinite; // Internet Explorer
  -o-animation: bar3-animation 1.5s linear 0s infinite; // Opera
}
.bars .bar-bg .b4 {
  animation: bar4-animation 1.5s linear 0s infinite;
  -webkit-animation: bar4-animation 1.5s linear 0s infinite; // Safari, Chrome, Opera
  -moz-animation: bar4-animation 1.5s linear 0s infinite; // Firefox
  -ms-animation: bar4-animation 1.5s linear 0s infinite; // Internet Explorer
  -o-animation: bar4-animation 1.5s linear 0s infinite; // Opera
}
.loading > h4 {
  margin: -10px 0 0 0;
}
.loading {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 80vw;
  height: 100%;
}

@keyframes bar1-animation {
  0% { height: 0; }
  40% { height: 100%; }
  60% { height: 40%; }
  85% { height: 100% ;}
  95% { height: 30%; }
  100% { height: 0; }
}
// Firefox
@-moz-keyframes bar1-animation {
  0% { height: 0; }
  40% { height: 100%; }
  60% { height: 40%; }
  85% { height: 100% ;}
  95% { height: 30%; }
  100% { height: 0; }
}
// Safari, Chrome, Opera
@-webkit-keyframes bar1-animation {
  0% { height: 0; }
  40% { height: 100%; }
  60% { height: 40%; }
  85% { height: 100% ;}
  95% { height: 30%; }
  100% { height: 0; }
}
// Internet Explorer
@-ms-keyframes bar1-animation {
  0% { height: 0; }
  40% { height: 100%; }
  60% { height: 40%; }
  85% { height: 100% ;}
  95% { height: 30%; }
  100% { height: 0; }
}
// Opera
@-o-keyframes bar1-animation {
  0% { height: 0; }
  40% { height: 100%; }
  60% { height: 40%; }
  85% { height: 100% ;}
  95% { height: 30%; }
  100% { height: 0; }
}
@keyframes bar2-animation {
  0% { height: 40%; }
  40% { height: 0%; }
  60% { height: 60%; }
  70% { height: 40% ;}
  90% { height: 100%; }
  100% { height: 40%; }
}
// Firefox
@-moz-keyframes bar2-animation {
  0% { height: 40%; }
  40% { height: 0%; }
  60% { height: 60%; }
  70% { height: 40% ;}
  90% { height: 100%; }
  100% { height: 40%; }
}
// Safari, Chrome, Opera
@-webkit-keyframes bar2-animation {
  0% { height: 40%; }
  40% { height: 0%; }
  60% { height: 60%; }
  70% { height: 40% ;}
  90% { height: 100%; }
  100% { height: 40%; }
}
// Internet Explorer
@-ms-keyframes bar2-animation {
  0% { height: 40%; }
  40% { height: 0%; }
  60% { height: 60%; }
  70% { height: 40% ;}
  90% { height: 100%; }
  100% { height: 40%; }
}
// Opera
@-o-keyframes bar2-animation {
  0% { height: 40%; }
  40% { height: 0%; }
  60% { height: 60%; }
  70% { height: 40% ;}
  90% { height: 100%; }
  100% { height: 40%; }
}
@keyframes bar3-animation {
  0% { height: 100%; }
  30% { height: 0%; }
  50% { height: 60%; }
  60% { height: 100% ;}
  80% { height: 40%; }
  100% { height: 100%; }
}
// Firefox
@-moz-keyframes bar3-animation {
  0% { height: 100%; }
  30% { height: 0%; }
  50% { height: 60%; }
  60% { height: 100% ;}
  80% { height: 40%; }
  100% { height: 100%; }
}
// Safari, Chrome, Opera
@-webkit-keyframes bar3-animation {
  0% { height: 100%; }
  30% { height: 0%; }
  50% { height: 60%; }
  60% { height: 100% ;}
  80% { height: 40%; }
  100% { height: 100%; }
}
// Internet Explorer
@-ms-keyframes bar3-animation {
  0% { height: 100%; }
  30% { height: 0%; }
  50% { height: 60%; }
  60% { height: 100% ;}
  80% { height: 40%; }
  100% { height: 100%; }
}
// Opera
@-o-keyframes bar3-animation {
  0% { height: 100%; }
  30% { height: 0%; }
  50% { height: 60%; }
  60% { height: 100% ;}
  80% { height: 40%; }
  100% { height: 100%; }
}
@keyframes bar4-animation {
  0% { height: 80%; }
  20% { height: 60%; }
  40% { height: 100%; }
  60% { height: 0 ;}
  100% { height: 80%; }
}
// Firefox
@-moz-keyframes bar4-animation {
  0% { height: 80%; }
  20% { height: 60%; }
  40% { height: 100%; }
  60% { height: 0 ;}
  100% { height: 80%; }
}
// Safari, Chrome, Opera
@-webkit-keyframes bar4-animation {
  0% { height: 80%; }
  20% { height: 60%; }
  40% { height: 100%; }
  60% { height: 0 ;}
  100% { height: 80%; }
}
// Internet Explorer
@-ms-keyframes bar4-animation {
  0% { height: 80%; }
  20% { height: 60%; }
  40% { height: 100%; }
  60% { height: 0 ;}
  100% { height: 80%; }
}
// Opera
@-o-keyframes bar4-animation {
  0% { height: 80%; }
  20% { height: 60%; }
  40% { height: 100%; }
  60% { height: 0 ;}
  100% { height: 80%; }
}
