<div class="page-container">
	<div class="grid" *ngFor="let project of projects; let i = index">
		<div class="grid-cell size-2" *ngIf="i % 2 !== 0">
			<div class="image-cell">
				<div class="image-container">
					<div class="col-1">
						<div class="sqs-block">
							<img class="photo" src="{{ project.attributes.cover_image }}" />
							<div class="frame" style="--frame-break: 2">
								<div class="frame-side-top"></div>
								<div class="frame-side-right"></div>
								<div class="frame-side-bottom"></div>
								<div class="frame-side-left"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-cell size-1">
			<div class="text-cell">
				<div class="label">Project #{{ project.id }}</div>
				<div class="title">
					<h1>{{ project.attributes.title }}</h1>
				</div>
				<div class="description">
					<p>{{ project.attributes.description }}</p>
				</div>
				<a (click)="navigateToProject(project.id)" class="button">
					Learn More
				</a>
			</div>
		</div>
		<div class="grid-cell size-2" *ngIf="i % 2 === 0">
			<div class="image-cell">
				<div class="image-container">
					<div class="col-1">
						<div class="sqs-block">
							<img class="photo" src="{{ project.attributes.cover_image }}" />
							<div class="frame" style="--frame-break: 2">
								<div class="frame-side-top"></div>
								<div class="frame-side-right"></div>
								<div class="frame-side-bottom"></div>
								<div class="frame-side-left"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
