<div class="page-container">
	@for (project of projects; track project.id; let i = $index) {
		<div class="grid">
			@if (i % 2 !== 0) {
				<div class="grid-cell size-2">
					<div class="image-cell">
						<div class="image-container">
							<div class="col-1">
								<div class="sqs-block">
									<img
										class="photo"
										src="{{ project.attributes.cover_image }}"
									/>
									<div class="frame" style="--frame-break: 2">
										<div class="frame-side-top"></div>
										<div class="frame-side-right"></div>
										<div class="frame-side-bottom"></div>
										<div class="frame-side-left"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
			<div class="grid-cell size-1">
				<div class="text-cell">
					<div class="label">Project #{{ i + 1 }}</div>
					<div class="title">
						<h1>{{ project.attributes.title }}</h1>
					</div>
					<div class="description">
						<p>{{ project.attributes.description }}</p>
					</div>
					<a (click)="navigateToProject(project.id)" class="button">
						Read More
					</a>
				</div>
			</div>
			@if (i % 2 === 0) {
				<div class="grid-cell size-2" *ngIf="i % 2 === 0">
					<div class="image-cell">
						<div class="image-container">
							<div class="col-1">
								<div class="sqs-block">
									<img
										class="photo"
										src="{{ project.attributes.cover_image }}"
									/>
									<div class="frame" style="--frame-break: 2">
										<div class="frame-side-top"></div>
										<div class="frame-side-right"></div>
										<div class="frame-side-bottom"></div>
										<div class="frame-side-left"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	}
</div>
