<div class="page-container">
	<div class="grid">
		<div class="grid-cell">
			<div class="text-cell">
				<div class="label">Project #1</div>
				<div class="title">
					<h1>Title</h1>
				</div>
				<div class="description">
					<p>Description</p>
				</div>
			</div>
		</div>

		<div class="grid-cell">
			<div class="image-cell">
				<div class="image-container">
					<div class="col-1">
						<div class="sqs-block">
							<img
								class="photo"
								src="https://images.squarespace-cdn.com/content/v1/57c6b79629687fde090a0fdd/1586548234873-YFBVOENEOT99N3R18HM3/dhomepagestudent1500.jpg?format=1500w"
							/>
							<div class="frame">
								<div class="frame-side-top"></div>
								<div class="frame-side-right">
									<div class="frame-part-one"></div>
									<div class="frame-part-two"></div>
								</div>
								<div class="frame-side-bottom"></div>
								<div class="frame-side-right"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
