<div class="dashboard-container">
	<div class="header">
		<h1>What we've written <strong>for you</strong></h1>
	</div>

	<div class="grid">
		@if (loading) {
			<app-loader size="lg"></app-loader>
		}
		<div class="">
			@for (
				blog of blogPosts;
				track blog.attributes.title;
				let first = $first
			) {
				<div class="blog-post" (click)="navigateToBlog(blog.id)">
					<img
						src="{{ blog.attributes.cover_image }}"
						alt=""
						class="cover-image"
					/>
					<div class="text">
						<div class="title">
							<mark>{{ blog.attributes.title }}</mark>
						</div>
						<div class="published-on">
							Published on
							{{ blog.attributes.publishedAt | date: "EEEE, MMMM d, y" }}
						</div>
						<div class="body">{{ blog.attributes.body | htmlStrip }}</div>

						<span class="read-more">
							read more
							<img
								src="../../../../assets/svg/icons/arrow-right-solid.svg"
								alt="read-more-arrow"
							/>
						</span>
					</div>
				</div>
			}
		</div>
	</div>
</div>
