<div class="dashboard-container">
	<div class="grid">
		<div
			class="blog-post"
			*ngFor="let blog of blogPosts"
			(click)="navigateToBlog(blog.id)"
		>
			<img
				src="{{ blog.attributes.cover_image }}"
				alt="cover_image"
				class="cover-image"
			/>
			<div class="text">
				<div class="title"><mark>{{ blog.attributes.title }}</mark></div>
				<div class="body">{{ blog.attributes.body | htmlStrip }}</div>
			</div>
			<span class="read-more">
				read more
				<img src="../../../../assets/svg/icons/arrow-right-solid.svg" alt="read-more-arrow" />
			</span>
		</div>
	</div>
</div>
