$themes: (
	light: (
		text: #000000,
		background: #e0e0e0,
		primary: #33e15b,
		secondary: #147a9f,
		accent: #0054ad,
	),
	dark: (
		text: #ffffff,
		background: #1f1f1f,
		primary: #1ecc47,
		secondary: #60c6eb,
		accent: #52a5ff,
	),
);
