<div class="project-container">
	<div class="project-hero">
		<img src="{{ project.data.attributes.cover_image }}" alt="" />
		<div class="image-cover"></div>
	</div>
	<div class="project-text">
		@if (!loading) {
			<a href="/projects" class="return-link"
				><mark>Return to dashboard</mark></a
			>
			<div class="title">{{ project.data.attributes.title }}</div>
			<div
				class="body ck-content"
				[innerHTML]="project.data.attributes.body | imageUrl"
			></div>
		} @else {
			<app-loader size="md"></app-loader>
		}
	</div>
</div>
