<div class="home-container">
	<div class="titles">
		<div class="name">Pepijn</div>
		<div class="name colenbrander">Colenbrander</div>
		<div class="developer">Full stack developer</div>
	</div>

	<app-window width="736px" height="473px" class="main-window">
		<div class="text-container">
			<div class="turning-your">Turning your</div>
			<img
				src="../../../assets/svg/icons/ideas-arrow.svg"
				alt="ideas-arrow"
				class="ideas-arrow"
			/>
			<div class="ideas">ideas</div>
			<div class="into-digital">into digital</div>
			<img
				src="../../../assets/svg/icons/reality-arrow.svg"
				alt="reality-arrow"
				class="reality-arrow"
			/>
			<div class="reality">reality</div>
		</div>
	</app-window>

	<app-window width="393px" height="254px" class="code-window-1">
		<div class="code-left">
			<div class="numbers">
				<span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span><span>11</span><span>12</span><span>13</span><span>14</span><span>15</span><span>16</span><span>17</span><span>18</span><span>19</span><span>20</span><span>21</span><span>22</span><span>23</span><span>24</span><span>25</span><span>26</span><span>27</span><span>28</span><span>29</span>
			</div>
			<div class="code">code here</div>
		</div>
		<div class="divider"></div>
		<div class="code-right">
			<div class="numbers">
				<span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span><span>11</span><span>12</span><span>13</span><span>14</span><span>15</span><span>16</span><span>17</span><span>18</span><span>19</span><span>20</span><span>21</span><span>22</span><span>23</span><span>24</span><span>25</span><span>26</span><span>27</span><span>28</span><span>29</span>
			</div>
		</div>
		<div class="code">code here</div>
	</app-window>
</div>
