<div class="home-container">
	<div class="titles">
		<div class="name">Pepijn</div>
		<div class="name colenbrander">Colenbrander</div>
		<div class="developer">Full stack developer</div>
	</div>

	<app-window width="736px" height="473px" class="main-window">
		<div class="text-container">
			<div class="turning-your">Turning your</div>
			<img
				src="../../../assets/svg/icons/ideas-arrow.svg"
				alt="ideas-arrow"
				class="ideas-arrow"
			/>
			<div class="ideas">ideas</div>
			<div class="into-digital">into digital</div>
			<img
				src="../../../assets/svg/icons/reality-arrow.svg"
				alt="reality-arrow"
				class="reality-arrow"
			/>
			<div class="reality">reality</div>
		</div>
	</app-window>

	<app-window width="393px" height="254px" class="code-window-1">
		<div class="code-left">
			<div class="numbers"></div>
		</div>
	</app-window>
</div>
