.blog-container {
	width: var(--body-width);
	.blog-hero {
		position: relative;
		img {
			width: 100%;
			height: 300px;
			object-fit: cover;
		}
		.image-cover {
			height: 100px;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0) 40%,
				var(--color-primary-dark) 80%
			);
		}
	}
	.blog-text {
		width: 80%;
		margin: auto;
		position: relative;
		.title {
			font-size: clamp(3rem, 2vw, 8rem);
			text-transform: capitalize;
		}
	}
}
