.window-container {
	background-color: var(--color-accent-dark);
	border-radius: 5px;
	position: relative;
	.window-navbar {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 5%;
		background-color: #3d3d3d;
		border-radius: 5px 5px 0 0;
		display: flex;
		align-items: center;
		.close-button,
		.minimize-button,
		.maximize-button {
			height: 40%;
			aspect-ratio: 1 / 1;
			border-radius: 50%;
			margin-left: 5px;
		}
		.close-button {
			background-color: #d74747;
		}
		.minimize-button {
			background-color: #eacd35;
		}
		.maximize-button {
			background-color: #41e33e;
		}
	}
	.content {
		position: absolute;
		top: 5%;
		left: 0;
	}
}
